{% extends "layout0.html" %}
{% block content %}
<div class="article-metadata">
  {% if title == 'My Notes' %}
  <h2>Account Information</h2>
  {% endif %}
</div>
<br>
{% if title == 'My Notes' %}
<div class="plugcard">
    <h5>First Name: {{ user.firstname }} </h5>
    <h5>Last Name: {{ user.lastname }} </h5>
    <p class="text-secondary"> Email: {{ user.email }}</p>
    <p class="text-secondary"> No of Notes: {{ count }}</p>
    <p class="text-secondary"> Intrested Topics:
    {% for n in user.usertags %}
      <a class="mr-2" href="{{ url_for('tags', tag_id=n.id) }}">{{ n.name }}</a>
    {% endfor %}
    </p>
    <p class="text-secondary"> Bookmarks:
    {% for n in bookmark %}
      <a class="mr-2" href="{{ url_for('note', note_id=n.id) }}">{{ n.title }}</a> &nbsp&nbsp
    {% endfor %}
    </p>
    <p class="text-secondary"> My CheatSheets:
    {% for n in cheats %}
      <a class="mr-2" href="{{ url_for('cheatsheet', id=n.id) }}">{{ n.title }}</a> &nbsp&nbsp
    {% endfor %}
    </p>
</div>
{% endif %}
<br>
<h2>{{title}}</h2>
<br>
{% for note in notes %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <small class="text-muted">{{ note.date_created.strftime('%Y-%m-%d') }}</small>
        </div>
        <div class="article-metadata">
          <h2><a class="article-title" href="{{ url_for('note', note_id=note.id) }}">{{ note.title }}</a></h2><br>
          <p class="article-content">{{ note.content }}</p><br>
      </div>
      {% for n in note.notetags %}
        <a class="mr-2" href="{{ url_for('tags', tag_id=n.id) }}">{{ n.name }}</a>
      {% endfor %}
      <div class="form-group">
        <p class="article-content"> Claps: {{ note.likes }}</p>
        <a  class="btn btn-primary"  href="{{ url_for('like', note_id=note.id) }}">Clap</a>&nbsp&nbsp
        <a  class="btn btn-info">Bookmark</a>&nbsp&nbsp
        <div class="btn-group dropright">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add to Cheat Sheet </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" data-toggle="modal" data-target="#cheatModal" href="#">Create a New CheatSheet </a>
            {% for n in cheats %}
            <a class="dropdown-item" href="{{ url_for('addcheatsheet', id=n.id, note_id=note.id ) }}"> {{ n.title }} </a>
            {% endfor %}
          </div>
        </div>
        
      </div>
      </div>
    </article>
{% endfor %}
<!-- Modal -->
<div class="modal fade" id="cheatModal" tabindex="-1" role="dialog" aria-labelledby="cheatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Create a CheatSheet ?</h5>
      </div>
      <div class="modal-header">
        <form method="POST" action="{{ url_for('newcheatsheet') }}">
          <p>Title</p>
          <input type="text" name="title">
          <input class="btn btn-primary" type="submit" value="Create">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
