{% extends "layout.html" %}
{% block content %}
<div class="article-metadata">
  <h2>All Notes</h2>
</div>
<br>
<br>
<div align="left">
  This is some text!
</div>

{% for note in notes %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="www.google.com">{{ note.author_name }}</a>&nbsp&nbsp

        </div>
        <div class="article-metadata">
          <h2><a class="article-title" href="{{ url_for('note', note_id=note.id) }}">{{ note.title }}</a></h2><br>
          <p class="article-content">{{ note.content }}</p><br>
      </div>

      <div class="form-group">

        <a  class="btn btn-outline-primary btn-sm"  href="{{ url_for('like', note_id=note.id) }}">Like</a>&nbsp&nbsp
        <a  class="btn btn-outline-info btn-sm" href="{{ url_for('bookmark', note_id=note.id) }}">Bookmark</a>&nbsp&nbsp
        <a  class="btn btn-outline-info btn-sm" href="{{ url_for('follow', note_id=note.id) }}">Follow</a>
        <br>
        <br>
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="2"></textarea><br>
        <p><a class="btn btn-outline-primary btn-sm" href="{{ url_for('comment', note_id=note.id) }}" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Comment </a></p>
      </div>
    </div>
    </article>


{% endfor %}

{% endblock content %}
